In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../Data/Raw Data/CountryCodeQS.csv")
df.head(100)

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude,Longitude
0,Afghanistan,AF,AFG,4,33.0000,65.0000
1,Albania,AL,ALB,8,41.0000,20.0000
2,Algeria,DZ,DZA,12,28.0000,3.0000
3,American Samoa,AS,ASM,16,-14.3333,-170.0000
4,Andorra,AD,AND,20,42.5000,1.6000
...,...,...,...,...,...,...
95,Haiti,HT,HTI,332,19.0000,-72.4167
96,Heard Island and McDonald Islands,HM,HMD,334,-53.1000,72.5167
97,Holy See (Vatican City State),VA,VAT,336,41.9000,12.4500
98,Honduras,HN,HND,340,15.0000,-86.5000
99,Hong Kong,HK,HKG,344,22.2500,114.1667