In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../Data/Raw Data/CountryCodeQS.csv")
df.head()

          Country Alpha-2 code Alpha-3 code  Numeric code  Latitude  Longitude
0     Afghanistan           AF          AFG             4   33.0000       65.0
1         Albania           AL          ALB             8   41.0000       20.0
2         Algeria           DZ          DZA            12   28.0000        3.0
3  American Samoa           AS          ASM            16  -14.3333     -170.0
4         Andorra           AD          AND            20   42.5000        1.6