In [46]:
import pandas as pd

In [47]:
df = pd.read_csv("../Data/Raw Data/states_daily.csv")
df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [48]:
df = df.drop(['probableCases', 'pending', 'hospitalizedCumulative', 'inIcuCumulative', 'onVentilatorCumulative', 'lastUpdateEt',
              'dateModified', 'checkTimeEt', 'hospitalizedDischarged', 'dateChecked', 'positiveTestsViral', 'negativeTestsViral',
              'positiveCasesViral', 'totalTestEncountersViral', 'totalTestsPeopleViral', 'positiveTestsAntibody', 
              'negativeTestsAntibody', 'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
              'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen', 'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 
              'dataQualityGrade', 'commercialScore', 'negativeRegularScore', 'negativeScore', 'positiveScore', 'score', 'grade', 'hash'], axis= 1)

In [49]:
columns = df.columns
for i in columns:
    if (i != "state") and (i != "totalTestResultsSource"):
        df[i] = df[i].fillna(0)   
        df[i] = df[i].astype(int)

In [51]:
Date = []
for i in df['date']:
    date_object = pd.to_datetime(i, format='%Y%m%d')
    formatted_date = date_object.strftime('%Y-%m-%d')
    Date.append(formatted_date)
df['date'] = Date

In [52]:
df.head()

,date,state,positive,negative,totalTestResultsSource,totalTestResults,hospitalizedCurrently,inIcuCurrently,onVentilatorCurrently,recovered,...,deathConfirmed,deathProbable,totalTestsAntibody,positiveIncrease,negativeIncrease,total,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease
0,2021-03-07,AK,56886,0,totalTestsViral,1731628,33,0,2,0,...,0,0,0,0,0,56886,0,56886,0,0
1,2021-03-07,AL,499819,1931711,totalTestsPeopleViral,2323788,494,0,0,295690,...,7963,2185,0,408,2087,2431530,2347,2431530,-1,0
2,2021-03-07,AR,324818,2480716,totalTestsViral,2736442,335,141,65,315517,...,4308,1011,0,165,3267,2805534,3380,2805534,22,11
3,2021-03-07,AS,0,2140,totalTestsViral,2140,0,0,0,0,...,0,0,0,0,0,2140,0,2140,0,0
4,2021-03-07,AZ,826454,3073010,totalTestsViral,7908105,963,273,143,0,...,14403,1925,580569,1335,13678,3899464,45110,3899464,5,44

In [53]:
df.to_csv("../Data/Clean Data/US_States_Updated_Data.csv", index= False)

In [54]:
df.shape

(2685, 23)