In [15]:
import pandas as pd

In [16]:
df = pd.read_csv("../Data/Raw Data/states_daily.csv")
df.head()

,date,state,positive,probableCases,negative,pending,totalTestResultsSource,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,...,dataQualityGrade,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [17]:
df = df.drop(['probableCases', 'pending', 'hospitalizedCumulative', 'inIcuCumulative', 'onVentilatorCumulative', 'lastUpdateEt',
              'dateModified', 'checkTimeEt', 'hospitalizedDischarged', 'dateChecked', 'positiveTestsViral', 'negativeTestsViral',
              'positiveCasesViral', 'totalTestEncountersViral', 'totalTestsPeopleViral', 'positiveTestsAntibody', 
              'negativeTestsAntibody', 'totalTestsPeopleAntibody', 'positiveTestsPeopleAntibody', 'negativeTestsPeopleAntibody',
              'totalTestsPeopleAntigen', 'positiveTestsPeopleAntigen', 'totalTestsAntigen', 'positiveTestsAntigen', 'fips', 
              'dataQualityGrade', 'commercialScore', 'negativeRegularScore', 'negativeScore', 'positiveScore', 'score', 'grade', 'hash'], axis= 1)

In [18]:
columns = df.columns
for i in columns:
    if (i != "state") and (i != "totalTestResultsSource"):
        df[i] = df[i].fillna(0)   
        df[i] = df[i].astype(int)

In [19]:
df['date']

0       20210307
1       20210307
2       20210307
3       20210307
4       20210307
          ...
2680    20210119
2681    20210119
2682    20210119
2683    20210119
2684    20210119
Name: date, Length: 2685, dtype: int32

In [23]:
Date = []
for i in df['date']:
    date_object = pd.to_datetime(i, format='%d%m%y')
    Date.append(date_object)
df['date'] = Date

ValueError: unconverted data remains when parsing with format "%d%m%y": "307", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [14]:
df['date']

0      1970-01-01 00:00:00.020210307
1      1970-01-01 00:00:00.020210307
2      1970-01-01 00:00:00.020210307
3      1970-01-01 00:00:00.020210307
4      1970-01-01 00:00:00.020210307
                    ...
2680   1970-01-01 00:00:00.020210119
2681   1970-01-01 00:00:00.020210119
2682   1970-01-01 00:00:00.020210119
2683   1970-01-01 00:00:00.020210119
2684   1970-01-01 00:00:00.020210119
Name: date, Length: 2685, dtype: datetime64[ns]

In [7]:
df.to_csv("../Data/Clean Data/US_States_Updated_Data.csv", index= False)

In [54]:
df.shape

(2685, 23)