In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../Data/Raw Data/covid-19-world-cases-deaths-testing.csv")
df.head(100)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AFG,Asia,Afghanistan,2020-05-29,13745.0,643.0,647.000,250.0,11.0,6.429,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
96,AFG,Asia,Afghanistan,2020-05-30,14529.0,784.0,653.857,252.0,2.0,5.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
97,AFG,Asia,Afghanistan,2020-05-31,15180.0,651.0,644.571,254.0,2.0,4.571,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
98,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,665.143,269.0,15.0,6.571,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
99,AFG,Asia,Afghanistan,2020-06-02,16578.0,742.0,665.857,274.0,5.0,7.143,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [337]:
# a = df.isnull().sum()
# pd.set_option('display.max_rows', None)
# print(a)

iso_code                                        0
continent                                    8474
location                                        0
date                                            0
total_cases                                  7234
new_cases                                    7236
new_cases_smoothed                           8279
total_deaths                                18351
new_deaths                                  18155
new_deaths_smoothed                          8279
total_cases_per_million                      7878
new_cases_per_million                        7880
new_cases_smoothed_per_million               8918
total_deaths_per_million                    18982
new_deaths_per_million                      18786
new_deaths_smoothed_per_million              8918
reproduction_rate                           28218
icu_patients                               116689
icu_patients_per_million                   116689
hosp_patients                              113945
hosp_patients_per_million                  113945
weekly_icu_admissions                      131304
weekly_icu_admissions_per_million          131304
weekly_hosp_admissions                     130517
weekly_hosp_admissions_per_million         130517
new_tests                                   77554
total_tests                                 77299
total_tests_per_thousand                    77299
new_tests_per_thousand                      77554
new_tests_smoothed                          65751
new_tests_smoothed_per_thousand             65751
positive_rate                               69775
tests_per_case                              70435
tests_units                                 63732
total_vaccinations                          99253
people_vaccinated                          100801
people_fully_vaccinated                    103790
total_boosters                             126789
new_vaccinations                           104857
new_vaccinations_smoothed                   73134
total_vaccinations_per_hundred              99253
people_vaccinated_per_hundred              100801
people_fully_vaccinated_per_hundred        103790
total_boosters_per_hundred                 126789
new_vaccinations_smoothed_per_million       73134
stringency_index                            24527
population                                    940
population_density                          12570
median_age                                  18219
aged_65_older                               19485
aged_70_older                               18844
gdp_per_capita                              17470
extreme_poverty                             55623
cardiovasc_death_rate                       17975
diabetes_prevalence                         14223
female_smokers                              43315
male_smokers                                44607
handwashing_facilities                      74931
hospital_beds_per_thousand                  28436
life_expectancy                              9331
human_development_index                     17873
excess_mortality_cumulative_absolute       127988
excess_mortality_cumulative                127988
excess_mortality                           127988
excess_mortality_cumulative_per_million    127988
dtype: int64

## Creating new DataFrame for Country codes

In [4]:
country_codes = df[['iso_code', 'continent','location']]
country_codes = country_codes.drop_duplicates()
country_codes['continent'] = country_codes['continent'].fillna('Unknown')
country_codes = country_codes.reset_index(drop= True)
country_codes

     iso_code continent           location
0         AFG      Asia        Afghanistan
1    OWID_AFR   Unknown             Africa
2         ALB    Europe            Albania
3         DZA    Africa            Algeria
4         AND    Europe            Andorra
..        ...       ...                ...
232       WLF   Oceania  Wallis and Futuna
233  OWID_WRL   Unknown              World
234       YEM      Asia              Yemen
235       ZMB    Africa             Zambia
236       ZWE    Africa           Zimbabwe

[237 rows x 3 columns]

## Updated Country names with codes

In [5]:
country_codes.to_csv("../Data/Clean Data/Updated_Country_Codes.csv", index= False)

## Cleaning each columns of the DataFrame

In [6]:
df['total_cases'] = df['total_cases'].fillna(0)
df['total_cases'] = df['total_cases'].astype(int)
df['total_cases']

0              5
1              5
2              5
3              5
4              5
           ...
132639    133187
132640    133205
132641    133242
132642    133302
132643    133329
Name: total_cases, Length: 132644, dtype: int32

In [7]:
df['new_cases'] = df['new_cases'].fillna(0)
df['new_cases'] = df['new_cases'].astype(int)
df['new_cases']

0          5
1          0
2          0
3          0
4          0
          ..
132639    19
132640    18
132641    37
132642    60
132643    27
Name: new_cases, Length: 132644, dtype: int32

In [8]:
df['new_cases_smoothed'] = df['new_cases_smoothed'].fillna(0)
df['new_cases_smoothed'] = df['new_cases_smoothed'].astype(float)
df['new_cases_smoothed']

0          0.000
1          0.000
2          0.000
3          0.000
4          0.000
           ...
132639    30.000
132640    28.286
132641    27.857
132642    30.143
132643    31.000
Name: new_cases_smoothed, Length: 132644, dtype: float64

In [9]:
df['total_deaths'] = df['total_deaths'].fillna(0)
df['total_deaths'] = df['total_deaths'].astype(int)
df['total_deaths']

0            0
1            0
2            0
3            0
4            0
          ...
132639    4685
132640    4690
132641    4691
132642    4694
132643    4694
Name: total_deaths, Length: 132644, dtype: int32

In [10]:
df['new_deaths'] = df['new_deaths'].fillna(0)
df['new_deaths'] = df['new_deaths'].astype(int)
df['new_deaths']

0         0
1         0
2         0
3         0
4         0
         ..
132639    0
132640    5
132641    1
132642    3
132643    0
Name: new_deaths, Length: 132644, dtype: int32

In [11]:
df['new_deaths_smoothed'] = df['new_deaths_smoothed'].fillna(0)
df['new_deaths_smoothed'] = df['new_deaths_smoothed'].astype(float)
df['new_deaths_smoothed']

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    1.000
132640    1.571
132641    1.143
132642    1.429
132643    1.286
Name: new_deaths_smoothed, Length: 132644, dtype: float64

In [12]:
df['total_cases_per_million'] = df['total_cases_per_million'].fillna(0)
df['total_cases_per_million'] = df['total_cases_per_million'].astype(float)
df['total_cases_per_million']

0            0.126
1            0.126
2            0.126
3            0.126
4            0.126
            ...
132639    8824.907
132640    8826.099
132641    8828.551
132642    8832.526
132643    8834.315
Name: total_cases_per_million, Length: 132644, dtype: float64

In [13]:
df['new_cases_per_million'] = df['new_cases_per_million'].fillna(0)
df['new_cases_per_million'] = df['new_cases_per_million'].astype(float)
df['new_cases_per_million']

0         0.126
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    1.259
132640    1.193
132641    2.452
132642    3.976
132643    1.789
Name: new_cases_per_million, Length: 132644, dtype: float64

In [14]:
df['new_cases_smoothed_per_million'] = df['new_cases_smoothed_per_million'].fillna(0)
df['new_cases_smoothed_per_million'] = df['new_cases_smoothed_per_million'].astype(float)
df['new_cases_smoothed_per_million']

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    1.988
132640    1.874
132641    1.846
132642    1.997
132643    2.054
Name: new_cases_smoothed_per_million, Length: 132644, dtype: float64

In [15]:
df['total_deaths_per_million'] = df['total_deaths_per_million'].fillna(0)
df['total_deaths_per_million'] = df['total_deaths_per_million'].astype(float)
df['total_deaths_per_million']

0           0.000
1           0.000
2           0.000
3           0.000
4           0.000
           ...
132639    310.426
132640    310.757
132641    310.823
132642    311.022
132643    311.022
Name: total_deaths_per_million, Length: 132644, dtype: float64

In [16]:
df['new_deaths_per_million'] = df['new_deaths_per_million'].fillna(0)
df['new_deaths_per_million'] = df['new_deaths_per_million'].astype(float)
df['new_deaths_per_million']

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    0.000
132640    0.331
132641    0.066
132642    0.199
132643    0.000
Name: new_deaths_per_million, Length: 132644, dtype: float64

In [17]:
df['new_deaths_smoothed_per_million'] = df['new_deaths_smoothed_per_million'].fillna(0)
df['new_deaths_smoothed_per_million'] = df['new_deaths_smoothed_per_million'].astype(float)
df['new_deaths_smoothed_per_million']

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    0.066
132640    0.104
132641    0.076
132642    0.095
132643    0.085
Name: new_deaths_smoothed_per_million, Length: 132644, dtype: float64

In [18]:
df['reproduction_rate'] = df['reproduction_rate'].fillna(0)
df['reproduction_rate'] = df['reproduction_rate'].astype(float)
df['reproduction_rate']

0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
          ...
132639    0.75
132640    0.00
132641    0.00
132642    0.00
132643    0.00
Name: reproduction_rate, Length: 132644, dtype: float64

In [188]:
# df['icu_patients'] = df['icu_patients'].fillna(0)
# df['icu_patients'] = df['icu_patients'].astype(int)
# df['icu_patients']
df['icu_patients'].isnull().sum()

116689

In [189]:
# df['icu_patients_per_million'] = df['icu_patients_per_million'].fillna(0)
# df['icu_patients_per_million'] = df['icu_patients_per_million'].astype(float)
# df['icu_patients_per_million']
df['icu_patients_per_million'].isnull().sum()

116689

In [190]:
# df['hosp_patients'] = df['hosp_patients'].fillna(0)
# df['hosp_patients'] = df['hosp_patients'].astype(int)
# df['hosp_patients']
df['hosp_patients'].isnull().sum()

113945

In [191]:
# df['hosp_patients_per_million'] = df['hosp_patients_per_million'].fillna(0)
# df['hosp_patients_per_million'] = df['hosp_patients_per_million'].astype(float)
# df['hosp_patients_per_million']
df['hosp_patients_per_million'].isnull().sum()

113945

In [192]:
# df['weekly_icu_admissions'] = df['weekly_icu_admissions'].fillna(0)
# df['weekly_icu_admissions'] = df['weekly_icu_admissions'].astype(float)
# df['weekly_icu_admissions']
df['weekly_icu_admissions'].isnull().sum()

131304

In [193]:
# df['weekly_icu_admissions_per_million'] = df['weekly_icu_admissions_per_million'].fillna(0)
# df['weekly_icu_admissions_per_million'] = df['weekly_icu_admissions_per_million'].astype(float)
# df['weekly_icu_admissions_per_million']
df['weekly_icu_admissions_per_million'].isnull().sum()

131304

In [151]:
df['weekly_hosp_admissions'].isnull().sum()

130517

In [197]:
df['weekly_hosp_admissions_per_million'].isnull().sum()

130517

In [230]:
df['total_vaccinations_per_hundred'].isnull().sum()

99253

In [231]:

df['people_vaccinated_per_hundred'].isnull().sum()

100801

In [232]:
df['people_fully_vaccinated_per_hundred'].isnull().sum()

103790

In [233]:
df['total_boosters_per_hundred'].isnull().sum()

126789

In [239]:
df['population'].isnull().sum()

940

In [19]:
df['new_tests'] = df['new_tests'].fillna(0)
df['new_tests'] = df['new_tests'].astype(int)
df['new_tests']

0            0
1            0
2            0
3            0
4            0
          ...
132639    1159
132640       0
132641       0
132642       0
132643       0
Name: new_tests, Length: 132644, dtype: int32

In [20]:
df['total_tests'] = df['total_tests'].fillna(0)
df['total_tests'] = df['total_tests'].astype(int)
df['total_tests']

0               0
1               0
2               0
3               0
4               0
           ...
132639    1393065
132640          0
132641          0
132642          0
132643          0
Name: total_tests, Length: 132644, dtype: int32

In [21]:
df['total_tests_per_thousand'] = df['total_tests_per_thousand'].fillna(0)
df['total_tests_per_thousand'] = df['total_tests_per_thousand'].astype(float)
df['total_tests_per_thousand']

0          0.000
1          0.000
2          0.000
3          0.000
4          0.000
           ...
132639    92.304
132640     0.000
132641     0.000
132642     0.000
132643     0.000
Name: total_tests_per_thousand, Length: 132644, dtype: float64

In [22]:
df['new_tests_smoothed'] = df['new_tests_smoothed'].fillna(0)
df['new_tests_smoothed'] = df['new_tests_smoothed'].astype(int)
df['new_tests_smoothed']

0            0
1            0
2            0
3            0
4            0
          ...
132639    2879
132640       0
132641       0
132642       0
132643       0
Name: new_tests_smoothed, Length: 132644, dtype: int32

In [23]:
df['new_tests_smoothed_per_thousand'] = df['new_tests_smoothed_per_thousand'].fillna(0)
df['new_tests_smoothed_per_thousand'] = df['new_tests_smoothed_per_thousand'].astype(float)
df['new_tests_smoothed_per_thousand']

0         0.000
1         0.000
2         0.000
3         0.000
4         0.000
          ...
132639    0.191
132640    0.000
132641    0.000
132642    0.000
132643    0.000
Name: new_tests_smoothed_per_thousand, Length: 132644, dtype: float64

In [24]:
df['positive_rate'] = df['positive_rate'].fillna(0)
df['positive_rate'] = df['positive_rate'].astype(float)
df['positive_rate']

0         0.00
1         0.00
2         0.00
3         0.00
4         0.00
          ...
132639    0.01
132640    0.00
132641    0.00
132642    0.00
132643    0.00
Name: positive_rate, Length: 132644, dtype: float64

In [25]:
df['tests_per_case'] = df['tests_per_case'].fillna(0)
df['tests_per_case'] = df['tests_per_case'].astype(float)
df['tests_per_case']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
132639    96.0
132640     0.0
132641     0.0
132642     0.0
132643     0.0
Name: tests_per_case, Length: 132644, dtype: float64

In [26]:
df['tests_units'] = df['tests_units'].fillna("Unknown")
df['tests_units']

0                 Unknown
1                 Unknown
2                 Unknown
3                 Unknown
4                 Unknown
               ...
132639    tests performed
132640            Unknown
132641            Unknown
132642            Unknown
132643            Unknown
Name: tests_units, Length: 132644, dtype: object

In [27]:
df['total_vaccinations'] = df['total_vaccinations'].fillna(0)
df['total_vaccinations'] = df['total_vaccinations'].astype(int)
df['total_vaccinations']

0               0
1               0
2               0
3               0
4               0
           ...
132639    6021461
132640    6034324
132641    6056713
132642    6079213
132643    6101678
Name: total_vaccinations, Length: 132644, dtype: int32

In [28]:
df['people_vaccinated'] = df['people_vaccinated'].fillna(0)
df['people_vaccinated'] = df['people_vaccinated'].astype(int)
df['people_vaccinated']

0               0
1               0
2               0
3               0
4               0
           ...
132639    3372721
132640    3380245
132641    3394826
132642    3409464
132643    3423588
Name: people_vaccinated, Length: 132644, dtype: int32

In [29]:
df['people_fully_vaccinated'] = df['people_fully_vaccinated'].fillna(0)
df['people_fully_vaccinated'] = df['people_fully_vaccinated'].astype(int)
df['people_fully_vaccinated']

0               0
1               0
2               0
3               0
4               0
           ...
132639    2648740
132640    2654079
132641    2661887
132642    2669749
132643    2678090
Name: people_fully_vaccinated, Length: 132644, dtype: int32

In [30]:
df['total_boosters'] = df['total_boosters'].fillna(0)
df['total_boosters'] = df['total_boosters'].astype(int)
df['total_boosters']

0         0
1         0
2         0
3         0
4         0
         ..
132639    0
132640    0
132641    0
132642    0
132643    0
Name: total_boosters, Length: 132644, dtype: int32

In [31]:
df['new_vaccinations'] = df['new_vaccinations'].fillna(0)
df['new_vaccinations'] = df['new_vaccinations'].astype(int)
df['new_vaccinations']

0             0
1             0
2             0
3             0
4             0
          ...
132639    14436
132640    12863
132641    22389
132642    22500
132643    22465
Name: new_vaccinations, Length: 132644, dtype: int32

In [32]:
df['new_vaccinations_smoothed'] = df['new_vaccinations_smoothed'].fillna(0)
df['new_vaccinations_smoothed'] = df['new_vaccinations_smoothed'].astype(int)
df['new_vaccinations_smoothed']

0             0
1             0
2             0
3             0
4             0
          ...
132639    15696
132640    15858
132641    16350
132642    17168
132643    17988
Name: new_vaccinations_smoothed, Length: 132644, dtype: int32

In [33]:
df['new_vaccinations_smoothed_per_million'] = df['new_vaccinations_smoothed_per_million'].fillna(0)
df['new_vaccinations_smoothed_per_million'] = df['new_vaccinations_smoothed_per_million'].astype(int)
df['new_vaccinations_smoothed_per_million']

0            0
1            0
2            0
3            0
4            0
          ...
132639    1040
132640    1051
132641    1083
132642    1138
132643    1192
Name: new_vaccinations_smoothed_per_million, Length: 132644, dtype: int32

In [34]:
df['stringency_index'] = df['stringency_index'].fillna(0)
df['stringency_index'] = df['stringency_index'].astype(float)
df['stringency_index']

0         8.33
1         8.33
2         8.33
3         8.33
4         8.33
          ...
132639    0.00
132640    0.00
132641    0.00
132642    0.00
132643    0.00
Name: stringency_index, Length: 132644, dtype: float64

In [35]:
df['population'] = df['population'].fillna(0)
df['population'] = df['population'].astype(int)
df['population']

0         39835428
1         39835428
2         39835428
3         39835428
4         39835428
            ...
132639    15092171
132640    15092171
132641    15092171
132642    15092171
132643    15092171
Name: population, Length: 132644, dtype: int32

In [36]:
df['population_density'] = df['population_density'].fillna(0)
df['population_density'] = df['population_density'].astype(float)
df['population_density']

0         54.422
1         54.422
2         54.422
3         54.422
4         54.422
           ...
132639    42.729
132640    42.729
132641    42.729
132642    42.729
132643    42.729
Name: population_density, Length: 132644, dtype: float64

In [37]:
df['median_age'] = df['median_age'].fillna(0)
df['median_age'] = df['median_age'].astype(float)
df['median_age']

0         18.6
1         18.6
2         18.6
3         18.6
4         18.6
          ...
132639    19.6
132640    19.6
132641    19.6
132642    19.6
132643    19.6
Name: median_age, Length: 132644, dtype: float64

In [38]:
df['aged_65_older'] = df['aged_65_older'].fillna(0)
df['aged_65_older'] = df['aged_65_older'].astype(float)
df['aged_65_older']

0         2.581
1         2.581
2         2.581
3         2.581
4         2.581
          ...
132639    2.822
132640    2.822
132641    2.822
132642    2.822
132643    2.822
Name: aged_65_older, Length: 132644, dtype: float64

In [39]:
df['aged_70_older'] = df['aged_70_older'].fillna(0)
df['aged_70_older'] = df['aged_70_older'].astype(float)
df['aged_70_older']

0         1.337
1         1.337
2         1.337
3         1.337
4         1.337
          ...
132639    1.882
132640    1.882
132641    1.882
132642    1.882
132643    1.882
Name: aged_70_older, Length: 132644, dtype: float64

In [40]:
df['gdp_per_capita'] = df['gdp_per_capita'].fillna(0)
df['gdp_per_capita'] = df['gdp_per_capita'].astype(float)
df['gdp_per_capita']

0         1803.987
1         1803.987
2         1803.987
3         1803.987
4         1803.987
            ...
132639    1899.775
132640    1899.775
132641    1899.775
132642    1899.775
132643    1899.775
Name: gdp_per_capita, Length: 132644, dtype: float64

In [41]:
df['extreme_poverty'] = df['extreme_poverty'].fillna(0)
df['extreme_poverty'] = df['extreme_poverty'].astype(float)
df['extreme_poverty']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
132639    21.4
132640    21.4
132641    21.4
132642    21.4
132643    21.4
Name: extreme_poverty, Length: 132644, dtype: float64

In [42]:
df['cardiovasc_death_rate'] = df['cardiovasc_death_rate'].fillna(0)
df['cardiovasc_death_rate'] = df['cardiovasc_death_rate'].astype(float)
df['cardiovasc_death_rate']

0         597.029
1         597.029
2         597.029
3         597.029
4         597.029
           ...
132639    307.846
132640    307.846
132641    307.846
132642    307.846
132643    307.846
Name: cardiovasc_death_rate, Length: 132644, dtype: float64

In [43]:
df['diabetes_prevalence'] = df['diabetes_prevalence'].fillna(0)
df['diabetes_prevalence'] = df['diabetes_prevalence'].astype(float)
df['diabetes_prevalence']

0         9.59
1         9.59
2         9.59
3         9.59
4         9.59
          ...
132639    1.82
132640    1.82
132641    1.82
132642    1.82
132643    1.82
Name: diabetes_prevalence, Length: 132644, dtype: float64

In [44]:
df['female_smokers'] = df['female_smokers'].fillna(0)
df['female_smokers'] = df['female_smokers'].astype(float)
df['female_smokers']

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
132639    1.6
132640    1.6
132641    1.6
132642    1.6
132643    1.6
Name: female_smokers, Length: 132644, dtype: float64

In [45]:
df['male_smokers'] = df['male_smokers'].fillna(0)
df['male_smokers'] = df['male_smokers'].astype(float)
df['male_smokers']

0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
132639    30.7
132640    30.7
132641    30.7
132642    30.7
132643    30.7
Name: male_smokers, Length: 132644, dtype: float64

In [46]:
df['handwashing_facilities'] = df['handwashing_facilities'].fillna(0)
df['handwashing_facilities'] = df['handwashing_facilities'].astype(float)
df['handwashing_facilities']

0         37.746
1         37.746
2         37.746
3         37.746
4         37.746
           ...
132639    36.791
132640    36.791
132641    36.791
132642    36.791
132643    36.791
Name: handwashing_facilities, Length: 132644, dtype: float64

In [47]:
df['hospital_beds_per_thousand'] = df['hospital_beds_per_thousand'].fillna(0)
df['hospital_beds_per_thousand'] = df['hospital_beds_per_thousand'].astype(float)
df['hospital_beds_per_thousand']

0         0.5
1         0.5
2         0.5
3         0.5
4         0.5
         ...
132639    1.7
132640    1.7
132641    1.7
132642    1.7
132643    1.7
Name: hospital_beds_per_thousand, Length: 132644, dtype: float64

In [48]:
df['life_expectancy'] = df['life_expectancy'].fillna(0)
df['life_expectancy'] = df['life_expectancy'].astype(float)
df['life_expectancy']

0         64.83
1         64.83
2         64.83
3         64.83
4         64.83
          ...
132639    61.49
132640    61.49
132641    61.49
132642    61.49
132643    61.49
Name: life_expectancy, Length: 132644, dtype: float64

In [49]:
df['human_development_index'] = df['human_development_index'].fillna(0)
df['human_development_index'] = df['human_development_index'].astype(float)
df['human_development_index']

0         0.511
1         0.511
2         0.511
3         0.511
4         0.511
          ...
132639    0.571
132640    0.571
132641    0.571
132642    0.571
132643    0.571
Name: human_development_index, Length: 132644, dtype: float64

In [50]:
df = df.drop(['continent', 'location', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million',
            'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million',
            'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
            'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality',
            'excess_mortality_cumulative_per_million'], axis = 1)

In [51]:
df.to_csv("../Data/Clean Data/New_Updated_Data.csv", index= False)

In [60]:
population_df = df[['iso_code', 'population', 'population_density']]
population_df = population_df.drop_duplicates()
population_df = population_df.reset_index(drop= True)
population_df

     iso_code  population  population_density
0         AFG    39835428              54.422
1    OWID_AFR  1373486472               0.000
2         ALB     2872934             104.871
3         DZA    44616626              17.348
4         AND       77354             163.755
..        ...         ...                 ...
232       WLF       11094               0.000
233  OWID_WRL -2147483648              58.045
234       YEM    30490639              53.508
235       ZMB    18920657              22.995
236       ZWE    15092171              42.729

[237 rows x 3 columns]

In [61]:
population_df.to_csv("../Data/Clean Data/world_population.csv", index= False)

In [62]:
age_df = df[['iso_code', 'median_age', 'aged_65_older', 'aged_70_older', 'life_expectancy']]
age_df = age_df.drop_duplicates()
age_df = age_df.reset_index(drop= True)
age_df

     iso_code  median_age  aged_65_older  aged_70_older  life_expectancy
0         AFG        18.6          2.581          1.337            64.83
1    OWID_AFR         0.0          0.000          0.000             0.00
2         ALB        38.0         13.188          8.643            78.57
3         DZA        29.1          6.211          3.857            76.88
4         AND         0.0          0.000          0.000            83.73
..        ...         ...            ...            ...              ...
232       WLF         0.0          0.000          0.000            79.94
233  OWID_WRL        30.9          8.696          5.355            72.58
234       YEM        20.3          2.922          1.583            66.12
235       ZMB        17.7          2.480          1.542            63.89
236       ZWE        19.6          2.822          1.882            61.49

[237 rows x 5 columns]

In [63]:
age_df.to_csv("../Data/Clean Data/age_distribution.csv", index= False)

In [64]:
gdp_df = df[['iso_code', 'gdp_per_capita', 'extreme_poverty', 'human_development_index']]
gdp_df = gdp_df.drop_duplicates()
gdp_df = gdp_df.reset_index(drop= True)
gdp_df

     iso_code  gdp_per_capita  extreme_poverty  human_development_index
0         AFG        1803.987              0.0                    0.511
1    OWID_AFR           0.000              0.0                    0.000
2         ALB       11803.431              1.1                    0.795
3         DZA       13913.839              0.5                    0.748
4         AND           0.000              0.0                    0.868
..        ...             ...              ...                      ...
232       WLF           0.000              0.0                    0.000
233  OWID_WRL       15469.207             10.0                    0.737
234       YEM        1479.147             18.8                    0.470
235       ZMB        3689.251             57.5                    0.584
236       ZWE        1899.775             21.4                    0.571

[237 rows x 4 columns]

In [65]:
gdp_df.to_csv("../Data/Clean Data/world_gdp.csv", index= False)

In [66]:
mixed_data_df = df[['iso_code', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities',
                    'hospital_beds_per_thousand']]
mixed_data_df = mixed_data_df.drop_duplicates()
mixed_data_df = mixed_data_df.reset_index(drop= True)
mixed_data_df

,iso_code,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand
0,AFG,597.029,9.59,0.000,0.000,37.746,0.500
1,OWID_AFR,0.000,0.00,0.000,0.000,0.000,0.000
2,ALB,304.195,10.08,7.100,51.200,0.000,2.890
3,DZA,278.364,6.73,0.700,30.400,83.741,1.900
4,AND,109.135,7.97,29.000,37.800,0.000,0.000
...,...,...,...,...,...,...,...
232,WLF,0.000,0.00,0.000,0.000,0.000,0.000
233,OWID_WRL,233.070,8.51,6.434,34.635,60.130,2.705
234,YEM,495.003,5.35,7.600,29.200,49.542,0.700
235,ZMB,234.499,3.94,3.100,24.700,13.938,2.000
236,ZWE,307.846,1.82,1.600,30.700,36.791,1.700

In [67]:
mixed_data_df.to_csv("../Data/Clean Data/mixed_data.csv", index= False)

In [75]:
sorted_data = df.drop(['population', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'life_expectancy',
                       'gdp_per_capita', 'extreme_poverty', 'human_development_index', 'cardiovasc_death_rate', 'diabetes_prevalence', 
                       'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand' ], axis=1)
sorted_data

,iso_code,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,tests_per_case,tests_units,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,new_vaccinations,new_vaccinations_smoothed,new_vaccinations_smoothed_per_million,stringency_index
0,AFG,2020-02-24,5,5,0.000,0,0,0.000,0.126,0.126,...,0.0,Unknown,0,0,0,0,0,0,0,8.33
1,AFG,2020-02-25,5,0,0.000,0,0,0.000,0.126,0.000,...,0.0,Unknown,0,0,0,0,0,0,0,8.33
2,AFG,2020-02-26,5,0,0.000,0,0,0.000,0.126,0.000,...,0.0,Unknown,0,0,0,0,0,0,0,8.33
3,AFG,2020-02-27,5,0,0.000,0,0,0.000,0.126,0.000,...,0.0,Unknown,0,0,0,0,0,0,0,8.33
4,AFG,2020-02-28,5,0,0.000,0,0,0.000,0.126,0.000,...,0.0,Unknown,0,0,0,0,0,0,0,8.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,2021-11-07,133187,19,30.000,4685,0,1.000,8824.907,1.259,...,96.0,tests performed,6021461,3372721,2648740,0,14436,15696,1040,0.00
132640,ZWE,2021-11-08,133205,18,28.286,4690,5,1.571,8826.099,1.193,...,0.0,Unknown,6034324,3380245,2654079,0,12863,15858,1051,0.00
132641,ZWE,2021-11-09,133242,37,27.857,4691,1,1.143,8828.551,2.452,...,0.0,Unknown,6056713,3394826,2661887,0,22389,16350,1083,0.00
132642,ZWE,2021-11-10,133302,60,30.143,4694,3,1.429,8832.526,3.976,...,0.0,Unknown,6079213,3409464,2669749,0,22500,17168,1138,0.00
132643,ZWE,2021-11-11,133329,27,31.000,4694,0,1.286,8834.315,1.789,...,0.0,Unknown,6101678,3423588,2678090,0,22465,17988,1192,0.00

In [78]:
sorted_data.to_csv("../Data/Clean Data/Cleaned_Covid_Data.csv", index= False)