In [60]:
import pandas as pd

In [61]:
df = pd.read_csv("../Data/Raw Data/covid-19-world-cases-deaths-testing.csv")
df.head(100)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,AFG,Asia,Afghanistan,2020-05-29,13745.0,643.0,647.000,250.0,11.0,6.429,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
96,AFG,Asia,Afghanistan,2020-05-30,14529.0,784.0,653.857,252.0,2.0,5.286,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
97,AFG,Asia,Afghanistan,2020-05-31,15180.0,651.0,644.571,254.0,2.0,4.571,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
98,AFG,Asia,Afghanistan,2020-06-01,15836.0,656.0,665.143,269.0,15.0,6.571,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
99,AFG,Asia,Afghanistan,2020-06-02,16578.0,742.0,665.857,274.0,5.0,7.143,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

## Creating new DataFrame for Country codes

In [89]:
country_codes = df[['iso_code', 'continent','location']]
country_codes = country_codes.drop_duplicates()
country_codes['continent'] = country_codes['continent'].fillna('Unknown')
country_codes = country_codes.reset_index(drop= True)
country_codes

     iso_code continent           location
0         AFG      Asia        Afghanistan
1    OWID_AFR   Unknown             Africa
2         ALB    Europe            Albania
3         DZA    Africa            Algeria
4         AND    Europe            Andorra
..        ...       ...                ...
232       WLF   Oceania  Wallis and Futuna
233  OWID_WRL   Unknown              World
234       YEM      Asia              Yemen
235       ZMB    Africa             Zambia
236       ZWE    Africa           Zimbabwe

[237 rows x 3 columns]

## Updated Country names with codes

In [91]:
country_codes.to_csv("../Data/Clean Data/Updated_Country_Codes.csv", index= False)